# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment and dependency directories
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# Logs and local configs
*.log
*.env
config.yaml

chrome_passwords.txt